---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog</title>
	</head>
	<body>
		<h1>私について</h1>
		<h2>Astroフレームワークを使用して高速で動作するブログです。</h2>
    <p>これは練習用のサイトです。</p>
	</body>
</html>
